* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

nav {
  padding: 20px;
  background-color: #efefef; }

.container {
  padding: 20px;
  display: flex; }

.user-info {
  width: 25%; }

.header-menu {
  display: flex; }

.header-menu-item {
  margin-right: 15px;
  height: 35px;
  line-height: 35px; }
  .header-menu-item .logo {
    font-size: 35px; }
  .header-menu-item .search {
    width: 300px;
    height: auto;
    border: none;
    border-radius: 3px;
    padding: 10px; }
  .header-menu-item .link {
    text-decoration: none;
    color: #000; }

.avatar {
  width: 100%;
  border-radius: 5px; }

.user-nickName {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  margin-bottom: 20px; }

.user-name {
  color: #24292e;
  font-size: 26px;
  line-height: 30px;
  text-transform: capitalize;
  margin: 10px 0; }

.repositories-description {
  width: 75%;
  padding-left: 35px; }

.info-repo {
  padding: 20px 0;
  border-bottom: 1px solid #e1e4e8; }

.repository-name {
  color: #0366d6;
  font-size: 16px;
  font-weight: bold; }

.repository-description {
  font-size: 12px;
  font-weight: normal;
  margin-top: 10px; }

.repository-details {
  font-size: 12px;
  margin-top: 10px; }

.block-button {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-color: #e9ecef;
  border-color: rgba(27, 31, 35, 0.35);
  color: #24292e;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em; }

.block-report {
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  margin: 10px 0; }

.user-details-item i {
  margin-right: 10px;
  color: #777;
  margin-top: 5px;
  margin-bottom: 5px; }
